@inherits LayoutComponentBase

<div class="page">
    <HeadContent>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/cosmo/bootstrap.min.css" />
    </HeadContent>
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row p-0">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
