@page "/"

<PageTitle>Home</PageTitle>
<div class="page-home">
    <h1 style="color: white; -webkit-text-stroke: 1px black; text-align:center;"> 
        Seja Bem Vinda ao mundo de<br>
        <img src="/images/pokemon-logo.png" class="pokemon-logo" /> <br>

        explore e construa o seu próprio time! <img src="/images/pokeball.png" class="pokeball" /> <br>
    </h1>

    <div class="d-flex gap-3 mt-4">
        <NavLink class="btn btn-primary" href="/pokedex">
            Ver Pokédex
        </NavLink>

        <NavLink class="btn btn-success" href="/team">
            Montar Time
        </NavLink>
    </div>

    <p style="font-weight:bold; color:black; text-align:center; content-align:center;">
        Disponível para consulta Pokemon até quarta geração.
    </p>
</div>